<section class="section-padding footer-bottom" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div style="padding: 9px 0;">
                   <h4>"Talk is cheap. Show me the code."</h4>
                    <sub style="float: right">Linus Torvalds</sub>


                </div>
            </div>
            <div class="col-md-8 text-right">
                <a href="http://www.youthopia16.in"><img src="/user/images/Nineleaps logo_white colour.png" style="height: 50px;width: 200px;"/></a>

            </div>
        </div>
    </div>
</section><!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


