<section class="section-padding footer-bottom" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div style="padding: 9px 0;">
                    Copyright © 2016 Dit University
                    •
                    All Rights Reserved
                    •
                   Powered By : hackerearth
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a href="http://www.youthopia16.in"><img src="/user/images/logo1.png" style="height: 50px;width: 200px;"/></a>

            </div>
        </div>
    </div>
</section><!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


