
<section class="section-padding">
    <div class="container">
        <div class="row text-center">


            <h3>
                Congratulations!
            </h3>
            <p style="font-color:#373736;
    line-height:1.4;
    font-size:16px;
    font-weight:300">
                You have been successfully registered
            </p>
            <p style="font-color:#373736;
    line-height:1.4;
    font-size:16px;
    font-weight:300">
                Contest details will be shared via email through HackerEarth
            </p>
            <a href="http://www.youthopia16.in" class="btn btn-primary">Home</a>
        </div>
    </div>
</section>

<br><br><br><br><br><br><br><br>

